
 .cube__container{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
} 
.cube{
   background: transparent;
   position: absolute;
   transform-style: preserve-3d;
   transform: rotateX(0deg) rotateY(0deg);
}
.cube > * {
   border-radius: 5px;
   opacity: 0.8;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   /* background-color: rgba(74, 72, 72, 0.583); */
   background: rgba(233, 216, 28, 0.604);
   box-shadow: inset 0px 0px 40px rgba(222, 94, 25, 0.871);
   border: 5px solid rgb(98, 203, 165);
   aspect-ratio: 1/1;
   position: absolute;
   top: 0;
   left: 0;
}
.cube > * img{
   display: none;
}
/*
.cube__front{
   transform: translateZ(calc(var(--size) / 2));
}
.cube__back{
   transform: translateZ(calc(var(--size) / -2));
}
.cube__top{
   transform: translateY(calc(var(--size) / -2)) rotateX(90deg);
}
.cube__bottom{
   transform: translateY(calc(var(--size) / 2)) rotateX(90deg);
}
.cube__left{
   transform: translateX(calc(var(--size) / -2)) rotateY(90deg);
}
.cube__right{
   transform: translateX(calc(var(--size) / 2)) rotateY(90deg);
}
   */
