.header-group {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   margin: 0px 0px 15em 0px;
}

.header-group .container {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
}

.header-group__footer {
   width: 100%;
   height: 5vh;
   background-color: greenyellow;
   z-index: 2;
}

.header-group__display {
   flex: 1 1 auto;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2em;
}

.header-group__main {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   gap: 2em;
   position: relative;
}

.header-group__group {
   font-size: 8em;
   color: whitesmoke;
   font-weight: bold;
   text-transform: capitalize;
}

.header-group__info {
   font-size: 2em;
   color: rgb(169, 169, 169);
   text-transform: capitalize;
}

.header-group__decor {
   min-height: 100%;
   display: flex;
   align-items: center;
   position: relative;
}

.header-group__skew {
   position: absolute;
   top: 50%;
   right: 0;
   width: 140%;
   height: 45%;
   border-radius: 60px;
   background: linear-gradient(90deg, rgb(74, 235, 227), rgb(87, 37, 240));
   transform-style: preserve-3d;
   transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(-50%);
   /* -webkit-box-reflect: below 20px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.37)); */
   transition: all 0.6s ease;
}

.header-group__skew._anim {
   transform-style: preserve-3d;
   transform: perspective(1000px) rotateX(-10deg) rotateY(-50deg) translateY(-50%);
}

.header-group__image {
   width: 70%;
   position: absolute;
   z-index: 10;
   left: 40%;
   transform: translateX(-50%);
   bottom: 5%;
   object-fit: contain;
   filter: grayscale(0.5);
   filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.668));
}

.header-group__shadow {
   z-index: -1;
   position: absolute;
   width: 0;
   aspect-ratio: 1/1;
   border-radius: 50%;
}

.header-group__shadow._shadow-1 {
   box-shadow: 0px 0px 220px 150px rgba(74, 101, 235, 0.917);
   bottom: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.header-group__shadow._shadow-2 {
   box-shadow: 0px 0px 150px 80px rgba(235, 106, 74, 0.917);
   top: 30%;
   left: 5%;
}

.header-group__shadow._shadow-3 {
   box-shadow: 0px 0px 150px 80px rgba(235, 74, 184, 0.827);
   top: 30%;
   right: 5%;
}

.header-group__cercle {
   aspect-ratio: 1/1;
   position: absolute;
   border-radius: 50%;
   background-color: yellowgreen;
}

.header-group__cercle._cercle-1._anim {
   animation: cercle_1 1s ease;
   top: 20%;
   left: 10%;
   width: 10em;
   z-index: 2;
   opacity: 1;
}

@keyframes cercle_1 {
   0% {
      top: 0%;
      left: 0%;
      opacity: 0;
   }

   60% {
      top: 0%;
      left: 0%;
      opacity: 0;
   }

   100% {
      top: 20%;
      left: 10%;
      opacity: 1;
   }
}

.header-group__cercle._cercle-2._anim {
   animation: cercle_2 1s ease;
   bottom: 20%;
   right: -5%;
   width: 7em;
   z-index: 2;
}

@keyframes cercle_2 {
   0% {
      bottom: 0%;
      right: 0%;
      opacity: 0;
   }

   60% {
      bottom: 0%;
      right: 0%;
      opacity: 0;
   }

   100% {
      bottom: 20%;
      right: -5%;
      opacity: 1;
   }
}

.header-group__cercle._cercle-3._anim {
   animation: cercle_3 1s ease;
   bottom: 25%;
   left: -20%;
   width: 12em;
   z-index: -1;
}

@keyframes cercle_3 {
   0% {
      bottom: 5%;
      left: -10%;
      opacity: 0;
   }

   60% {
      bottom: 5%;
      left: -10%;
      opacity: 0;
   }

   100% {
      bottom: 25%;
      left: -20%;
      opacity: 1;
   }
}


.back {
   position: absolute;
   padding: 10px;
   border-radius: 20px;
   border: 2px solid rgba(59, 42, 74, 0.878);
   aspect-ratio: 5/2;
   z-index: -1;
   opacity: 0.5;
}

.back__content {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.back__icon {
   font-size: 3rem;
   color: rgba(59, 42, 74, 0.878);
}

.back._back-1 {
   top: 20%;
   left: 5%;
   transform: rotate(20deg);
   width: 18em;
}

.back._back-2 {
   bottom: 20%;
   right: 25%;
   transform: rotate(-10deg);
   width: 16em;
}